// 

.box {
	// margin: 20px 0;
	// border: 1px solid blue;
	padding: 20px;

	width: 100px;
	height: 100px;

	color: white;

	@include opacity(0.9);
	&:hover {
		color: black;
		background-color: white;
		@include transition(all 0.3s);
		cursor: pointer;
		@include opacity(1);
	}
}
